<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <!-- SITECORE TODO: Establish best practices for routing to languages. -->
        <add name="sitecore"
             set:languageEmbedding="never" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>