# Ignore thumbnails created by Windows
Thumbs.db
# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
# Nuget packages folder
packages/
## SIF configs expanded into config folder
**/build/config/createcert.json
**/build/config/IdentityServer.json
**/build/config/Prerequisites.json
**/build/config/sitecore-solr.json
**/build/config/sitecore-XP0.json
**/build/config/xconnect-solr.json
**/build/config/xconnect-xp0.json
**/build/config/XP0-SingleDeveloper.json
**/build/config/XP0-SingleDeveloper.ps1
## Install/build logs
log.*.txt
## User config for build
**/build/settings.user.ps1
## Basic Company compiled assets
/basic-company/client/_javascript/main.js
/basic-company/client/css/main.css
