@model ProductDetailHeader

    <div class="container">
        <section class="hero is-small product-detail-hero">
            <div class="hero-body">
                <h1 class="title" asp-for="Title"></h1>
                <h2 class="subtitle is-one-quarter" asp-for="ShortDescription"></h2>
            </div>
        </section>
    </div>