<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="SitecoreGallery" value="https://sitecore.myget.org/F/sc-powershell/api/v2" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
