<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore" value="http://nuget1ca2.dk.sitecore.net/nuget/sc_packages_preview/" />
    <add key="Sitecore2" value="http://nuget1ca2.dk.sitecore.net/nuget/10.1.0_master/" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSourceCredentials>
    <Sitecore>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </Sitecore>
    <Sitecore2>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </Sitecore2>
    <SitecoreGallery>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </SitecoreGallery>
  </packageSourceCredentials>
</configuration>
