@using BasicCompany.Feature.Products
@using BasicCompany.Foundation.FieldRendering

<div class="container">
    <section class="hero is-small product-detail-hero">
        <div class="hero-body">
            <h1 class="title">
                @Html.Sitecore().Field(Templates.Product.Fields.Title)
            </h1>
            <h2 class="subtitle is-one-quarter">
                @Html.Sitecore().Field(Templates.Product.Fields.ShortDescription)
            </h2>
        </div>
    </section>
</div>