<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <!--
        JSS Site Registration
        This configures the site with Sitecore - i.e. host headers, item paths.
        If your JSS app lives within an existing Sitecore site, this may not be necessary.
      -->
      <site name="basiccompany"
            inherits="website"
            hostName="cm.basic-company-nextjs.localhost"
            rootPath="/sitecore/content/BasicCompany"
            patch:before="site[@name='website']" />
    </sites>
    <javaScriptServices>
      <apps>
        <!--
          JSS App Registration
          The JSS app needs to be registered in order to support layout service and import services.

          There are many available attributes, and they inherit the defaults if not explicitly specified here.
          Defaults are defined in `/App_Config/Sitecore/JavaScriptServices/Sitecore.JavaScriptServices.Apps.config`

          NOTE: graphQLEndpoint enables _Integrated GraphQL_. If not using integrated GraphQL, it can be removed.
          NOTE: This app configuration assumes a Sitecore-first approach and thus disables the JSS Workflow for initial app import.
        -->
        <app name="basiccompany"
             sitecorePath="/sitecore/content/BasicCompany"
             dictionaryDomain="{B741B17B-67B2-4DD8-A216-D092813871F0}"
             graphQLEndpoint="/sitecore/api/graph/edge"
             serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="http://rendering:3000/api/editing/render"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_PUBLIC_URI)"
             useLanguageSpecificLayout="true"
             defaultWorkflow=""
             deploymentSecret="$(env:JSS_BasicCompany_DEPLOYMENT_SECRET)"
             debugSecurity="false"
             inherits="defaults" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
