@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Basic Company</title>
  <link rel="stylesheet" href="css/basic-company.css">
</head>
<body>
    @Html.Sitecore().Placeholder("main")
</body>
</html>