<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="basic-company"
            inherits="website"
            hostName="cd.basic-company-aspnetcore.localhost"
            rootPath="/sitecore/content/Basic Company"
            dictionaryDomain="{B741B17B-67B2-4DD8-A216-D092813871F0}"
            patch:before="site[@name='website']" />
    </sites>
    <javaScriptServices>
      <apps>
        <!--
          We need to configure an 'app' for the site as well in order to
          enable support for Experience Editor. The URL below will be used
          by the Experience Editor to render pages for editing.
        -->
        <app name="basic-company"
             sitecorePath="/sitecore/content/Basic Company"
             serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="http://rendering/jss-render"
             inherits="defaults" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>