<Project ToolsVersion="4.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CompactSitecoreItemsInProjectFile>True</CompactSitecoreItemsInProjectFile>
    <SerializationFormat>YML</SerializationFormat>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
		<DebugSymbols>true</DebugSymbols>
		<PackageAuthor>MeMySelfAndI</PackageAuthor>
		<PackagePublisher>MeMySelfAndI</PackagePublisher>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
		<DisableFileDeployment>True</DisableFileDeployment>
		<LightningDeployMode>False</LightningDeployMode>
		<ConnectorTimeoutSeconds>120</ConnectorTimeoutSeconds>
		<SitecoreAccessGuid>3e0f6aa7-cce3-44f9-8543-c24b5289f6c0</SitecoreAccessGuid>
		<SitecoreWebUrl>http://basic-company/</SitecoreWebUrl>
	</PropertyGroup>
	<PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
		<PackageAuthor>MeMySelfAndI</PackageAuthor>
		<PackagePublisher>MeMySelfAndI</PackagePublisher>
		<PackageVersion>1.0.0</PackageVersion>
		<SitecoreAssemblyPath/>
		<GeneratePackage>True</GeneratePackage>
		<InstallSitecoreConnector>false</InstallSitecoreConnector>
		<DisableFileDeployment>True</DisableFileDeployment>
	</PropertyGroup>
</Project>