@model RenderingModel
@using BasicCompany.Feature.Products
@using Sitecore.Data.Fields;

@{
    MultilistField relatedProducts = Model.Item.Fields[Templates.Product.Fields.RelatedProducts];
}

<div class="container">
    <h3 class="title">@Sitecore.Globalization.Translate.Text("Products-RelatedProducts-Title")</h3>

    <div class="product-list-columns columns is-multiline">
        @foreach (var product in relatedProducts.GetItems())
        {
            @Html.Partial("../Products/_ListProduct", product)
        }
    </div>
</div>