.footer-extended {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    height: 84px;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 50px;
}