@charset "utf-8";

// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Global Overrides
$family-sans-serif: 'Montserrat', sans-serif;
$blue: #155786;
$primary: #155786;
$primary-invert: #fff;

// Navbar Overrides
$navbar-height: 67px;
$navbar-item-img-max-height: 45px;
$navbar-tab-active-border-bottom-color: $red;
$navbar-tab-hover-border-bottom-color: $black;

// Footer Overrides
$footer-background-color: $black;

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";

@import "navbar.scss";
@import "hero.scss";
@import "footer.scss";