---
---
$primary: #333333;
// Import Main CSS file from theme
@import "main";

.navbar-brand {
    margin-right: 15px;

    .navbar-item {
        background-color: red;
    }
}

a.navbar-item.is-active {
    background-color: unset;
    text-decoration: underline;
}