@model Header

<nav class="navbar is-black is-tab" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">


            <a class="navbar-item" href="/">
                <img asp-for="LogoLink.HeaderLogo" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                @foreach (var navItem in Model.NavItems)
                {
                    <a class="navbar-item is-tab @(navItem.IsActive ? "is-active" : "")" href="@navItem.Url">
                        @navItem.Title
                    </a>
                }
            </div>
        </div>
    </div>
</nav>
