@using BasicCompany.Feature.BasicContent
@using BasicCompany.Foundation.FieldRendering

<div class="container">
    <h2 class="title">@Html.Sitecore().Field(Templates.SectionHeader.Fields.Text)</h2>
</div>