<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CompactSitecoreItemsInProjectFile>True</CompactSitecoreItemsInProjectFile>
    <SerializationFormat>YML</SerializationFormat>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <SitecoreWebUrl>https://cm.basic-company-tds.localhost</SitecoreWebUrl>
    <SitecoreDeployFolder>$(SolutionDir)\docker\deploy\website</SitecoreDeployFolder>
    <RecursiveDeployAction>SitecoreRecycle</RecursiveDeployAction>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <EnableContainerDeployment>True</EnableContainerDeployment>
    <SitecoreAccessGuid>60b792e8-ad05-4ced-80ce-5930f57e9281</SitecoreAccessGuid>
    <LightningDeployMode>True</LightningDeployMode>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
    <OutputPath>$(SolutionDir)\TdsGeneratedPackages\Release\</OutputPath>
    <BuildWebDeploy>True</BuildWebDeploy>
    <WebDeployPackageCodeAndItemOptions>ItemOnly</WebDeployPackageCodeAndItemOptions>
    <WebDeployPackageName>$(MSBuildProjectName)</WebDeployPackageName>
    <WebDeployAppendDateAndTimeToPackageName>False</WebDeployAppendDateAndTimeToPackageName>
  </PropertyGroup>
</Project>