<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CompactSitecoreItemsInProjectFile>True</CompactSitecoreItemsInProjectFile>
    <SerializationFormat>YML</SerializationFormat>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
		<SitecoreWebUrl></SitecoreWebUrl>
		<SitecoreDeployFolder></SitecoreDeployFolder>
		<RecursiveDeployAction>SitecoreRecycle</RecursiveDeployAction>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <SitecoreAccessGuid>60b792e8-ad05-4ced-80ce-5930f57e9281</SitecoreAccessGuid>
    <LightningDeployMode>True</LightningDeployMode>
  </PropertyGroup>
</Project>