<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.BasicCompany" extends="Foundation.Serialization.Base" description="BasicCompany definition items" dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Project/BasicCompany" />
            <include name="branches" database="master" path="/sitecore/templates/Branches/Project/BasicCompany" />
            <include name="renderings" database="master" path="/sitecore/layout/renderings/Project/BasicCompany" />
            <include name="placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/BasicCompany" />
            <include name="layouts" database="master" path="/sitecore/layout/layouts/Project/BasicCompany" />
            <include name="siteroot-insertrule" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/BasicCompany Site Root" />            
            <include name="content" database="master" path="/sitecore/content/Basic Company" />
            <include name="media" database="master" path="/sitecore/media library/Basic Company" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>